* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html {
  background-color: #FFFFFF;
}
header {
  background-color: #A42FC1;
  border-radius: 2.8rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7.8rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
}
main {
  text-align: center;
  font-size: 10rem;
}
article {
  text-align: center;
  color: #000000;
}
footer {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  min-height: 7.8rem;
  width: 100%;
}
input {
  width: 100%;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}
.iconify {
  font-size: 3.6rem;
}
.menu {
  color: #bbb;
}
.btn {
  width: 23rem;
  height: 4.6rem;
}
.outlineBtn {
  font-size: 1.9rem;
  font-weight: 500;
  color: #000000;
  background-color: #FFFFFF;
  border: solid 0.2rem #A42FC1;
  border-radius: 1.4rem;
}
.breadcrumbs {
  font-size: 4rem
}
.formLabel {
  font-size: 3.2rem;
}
.resultMenu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 3.2rem;
  width: 100%;
  list-style: none;
}
.scoreCard {
  width: 80%;
}
.displayedHamburgerMenu > a {
  font-size: 3.2rem;
}
.displayedHamburgerMenu > li {
  list-style: none;
  font-size: 2rem;
}
.unvisible {
  visibility: hidden;
}
.hidden {
  display: none;
}


.resultMenu > li {
  padding: 2rem 3rem;
}


#headerMenu {
  padding: 2rem 3rem;
}
#question {
  font-size: 5rem;
}
#quiz {
  gap: 6rem;
  color: #000000;
  font-size: 2.4rem;
  margin: 10% 0;
}
#quiz > article {
  font-size: 3.2rem;
}
#quiz > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2rem;
  min-height: 4.8rem;
  width: 60%;
}
#review {
  font-size: 10rem;
}

/*--------------------------------------------------------------------------------*/
/*Graphic*/
/* h1,h2 {
  text-align: center;
}

body{
  width:540px;
  margin: auto;
  margin-top: 50px;  
}

#scoring{
  display: block;
  height: 270px;
  width: 540px;
} */
--------------------------------------------------------------------------------
/*Estilos Carrusel*/

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b6b6b6;
}

/* header {
  margin-bottom: 50px;
} */

/* #avatarUser {
  display: flex;
  align-items: center;
  height: 128px;
  width: 128px;
  border-radius: 128px;
  background-color: #ebebeb;
  border: 4px solid rgb(212, 0, 255);
  background-image: url("assets/images/avatars/avtr_default.jpg");
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 72px;
  width: 256px;
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
}

.wrapper-inner {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  border-radius: 26px;
  border: 4px solid rgb(212, 0, 255);
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 300ms;
}

.item {
  background: white;
  border-radius: 8px;
  border: none;
  min-width: 56px;
  height: 56px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item01 {
  background-image: url("assets/images/avatars/avtr01.jpg");
  background-size: cover;
}

#item02 {
  background-image: url("assets/images/avatars/avtr02.jpg");
  background-size: cover;
}

#item03 {
  background-image: url("assets/images/avatars/avtr03.jpg");
  background-size: cover;
}

#item04 {
  background-image: url("assets/images/avatars/avtr04.jpg");
  background-size: cover;
}

#item05 {
  background-image: url("assets/images/avatars/avtr05.jpg");
  background-size: cover;
}

#item06 {
  background-image: url("assets/images/avatars/avtr_default.jpg");
  background-size: cover;
}

.control-prev,
.control-next {
  position: absolute;
  cursor: pointer;
  z-index: 20;
}

.control-prev > svg,
.control-next > svg {
  width: 32px;
  height: 32px;
  color: rgb(212, 0, 255);
}

.control-prev {
  left: -8%;
  display: none;
}

.control-next {
  right: -8%;
} */